.input{
    background: none;
    border: 1px solid #FFD96A;
    margin-bottom: 4%;
    color: white;
}

.buttonSubmit{
    margin-left: 42%;
    margin-top: 5%;
}

.statbox{
    max-width: 98% !important;
    margin-top: 2% !important;
    padding: 25px !important;
}

.formClass{
    margin-top: 2%;
}

.formBox{
    margin-top: 2%;
}

.btn{
    border : 1px solid !important;
}

.formInput{
    margin-top: 5%;
}