<aside>
	<app-navbar></app-navbar>
</aside>
<div class="heading">
    <div></div>
    <span><a routerLink="/creatlist">Create New List<img src="assets/images/add.svg"></a></span>
</div>


<div class="col-xs-12">
    <div class="row">
        <div class="col-sm-5">
            <div class="statbox">
            <h2><small>Total Amount</small> 895746</h2>
            <h4>
                <div>
                    <small>Received </small>
                    4998
                </div>
                <div>
                    <small>Outstanding</small>
                    7589
                </div>
            </h4>
        </div>

        </div>
        <div class="col-sm-7">
                <div id="chartContainer"></div>
        </div>
    </div>
</div>

<br> 
<div class="col-xs-12" >
    <div class="statbox">
        <img src="assets/images/list1.svg" alt="">
        <p>Upcomming Payments</p>
        <hr>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th></th>
            </tr>
            <tr>
                <td>Home Loan</td>
                <td>Lorem ipsum, dolor sit amet</td>
                <td>24 Dec 2019</td>
                <td valign="bottom"><a routerLink="" class="btn-dark " style="margin: 0">Send Reminder</a></td>
            </tr>
        </table>
    </div>
</div>
