@mixin shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}
.col-xs-12{
	padding: 0 8px;
}
.col-sm-3{
	padding: 0 10px;
}
.statbox{
	background: #242424;
	@include shadow;
	border-radius: 4px;
	padding: 15px;
	position: relative;
	a{
		position: absolute;
		right: 15px;
	}
	img{
		height: 26px;
	}
	p{
		opacity: .6;
		font-weight: 300;
		margin-top: 6px;
		margin-bottom: 6px;
	}
	h4{		
		border-top: 1px solid rgba(255,255,255,.2);
		padding-top: 10px;
		text-align: right;
		span{
			color: #FFD96A;
			font-weight: 900;
			display: block;
		}
		small{
			font-size: 12px;
			display: block;
			font-weight: 400
		}
	}
}

.activity{
	display: flex;
	border-bottom: 1px solid rgba(255,255,255,.1);
	margin-bottom: 12px;
	div{
		width: 100%;
	}
	span{
		display: flex;
		justify-content: space-between;
		margin: 0;
		width: 100%;
		small{
			margin: 0;
		}
	}
	p{
		font-size: 13px;
	}
}