<aside>
	<app-navbar></app-navbar>
</aside>
<div class="col-xs-12">
    <div class="row">

        <div class="col-sm-4">
            <div class="statbox">
                <a routerLink="/adduser"><img src="assets/images/add.svg"></a>
                <img src="assets/images/dealer-active.svg" alt="">
                <p>Admin</p>
                <h4><span>024</span> <small>25 May 2019</small></h4>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="statbox">
                <a routerLink="/adduser"><img src="assets/images/add.svg"></a>
                <img src="assets/images/dealer-active.svg" alt="">
                <p>Vendor</p>
                <h4><span>02541</span> <small>25 May 2019</small></h4>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="statbox">
                <a routerLink="/adduser"><img src="assets/images/add.svg"></a>
                <img src="assets/images/dealer-active.svg" alt="">
                <p>Employee</p>
                <h4><span>945781</span> <small>25 May 2019</small></h4>
            </div>
        </div>

    </div>
</div>


<div class="row mt20">

    <div class="col-sm-12">
        <div class="statbox">
            <p>Super Admin Activites</p>
            <hr>

            <div class="activity">
                <div class="imgcircle" style="background-image: url(https://peopledotcom.files.wordpress.com/2019/04/keanu-reeves.jpg?w=2185&h=2700)">
                </div>
                <div>
                    <span>
						<b>Sunil Kumar</b>
						<small>29 may 2019</small>
					</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>

            <div class="activity">
                <div class="imgcircle" style="background-image: url(https://peopledotcom.files.wordpress.com/2019/04/keanu-reeves.jpg?w=2185&h=2700)">
                </div>
                <div>
                    <span>
						<b>Sunil Kumar</b>
						<small>29 may 2019</small>
					</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>

            <div class="activity">
                <div class="imgcircle" style="background-image: url(https://peopledotcom.files.wordpress.com/2019/04/keanu-reeves.jpg?w=2185&h=2700)">
                </div>
                <div>
                    <span>
						<b>Sunil Kumar</b>
						<small>29 may 2019</small>
					</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>

            <div class="activity">
                <div class="imgcircle" style="background-image: url(https://peopledotcom.files.wordpress.com/2019/04/keanu-reeves.jpg?w=2185&h=2700)">
                </div>
                <div>
                    <span>
						<b>Sunil Kumar</b>
						<small>29 may 2019</small>
					</span>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>

        </div>
    </div>
</div>