<aside>
	<app-navbar></app-navbar>
</aside>
<h4 class="heading">
  <span>Partner Portal Management</span>
</h4>


<div class="col-sm-12 head">
  <div class="col-sm-4">
    <button class="btn btn-dark btn-position" (click)="addNewPartner()">Add New Partner</button>
  </div>
</div>

<div *ngIf="showAdd" class="col-sm-12 statbox">
  <p class="detailSection">Add New Partner</p>
  <div class="row addDetail">
      <div class="col-sm-3 create_tkt_input">
        <div class="blogaddImg">
            <label for="imageUpload">
                <img src={{attachFile}} alt="" *ngIf="!tktimgset" class="addblogimg">
                <img [src]="domSanatize.bypassSecurityTrustUrl(imagePath)" alt="" *ngIf="tktimgset" class="addblogimg"><br><p *ngIf="fileSizeExceedErr" class="sizeExceed">{{fileSizeExceedErr}}</p>
            </label><br>
            <input width="10%" #profilePicture type="file" id="imageUpload" (change)="getProfilePic($event)">
            <!-- <span class="tkt_img_span">Attach Document *</span>&nbsp;&nbsp;&nbsp;&nbsp; <small class="tkt_img_span">( Accepted format - jpeg, jpg, png & pdf 
                and maximum size upto 5 mb ) </small> -->
        </div>
        <p><small class="filename">{{fileName}}</small></p>
      </div>
      <div class="col-sm-5">
          <input type="text" class="input" placeholder="Enter Partner Name" [(ngModel)]="partnerName">
      </div>
      <div class="col-sm-4 addbtn">
          <button class="btn btn-dark btn-position" (click)="addPartner()">Add</button>
      </div>
  </div>
</div>


<div *ngIf="editBox" class="col-sm-12 statbox">
  <p class="detailSection">Update Partner Details</p>
    <div class="row addDetail">
        <div class="col-sm-2 create_tkt_input">
          <div class="blogaddImg">
              <label for="imageUpload">
                  <img src={{attachFileUpdate}} alt="" *ngIf="!tktimgUpdate" class="addblogimg">
                  <img [src]="domSanatize.bypassSecurityTrustUrl(imagePath)" alt="" *ngIf="tktimgUpdate" class="addblogimg"><br><p *ngIf="fileSizeExceedErr" class="sizeExceed">{{fileSizeExceedErr}}</p>
              </label><br>
              <input width="10%" #profilePicture type="file" id="imageUpload" (change)="getProfilePicUpdate($event)">
              <!-- <span class="tkt_img_span">Attach Document *</span>&nbsp;&nbsp;&nbsp;&nbsp; <small class="tkt_img_span">( Accepted format - jpeg, jpg, png & pdf 
                  and maximum size upto 5 mb ) </small> -->
          </div>
          <p><small class="filename">{{fileNameUpdate}}</small></p>
        </div>
        <div class="col-sm-3">
            <input type="text" class="input" placeholder="Enter Partner Name" [(ngModel)]="partnerUpdateName">
        </div>
        <div class="col-sm-3">
            <!-- <input type="text" class="input" placeholder="Enter Partner Status" [(ngModel)]="partnerStatus"> -->
            <select [(ngModel)]="selectValue" class="custom-select" (change)="changedValue(selectValue)">
                <option  *ngFor="let status of partnStatus">{{status.name}}</option>
            </select>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-dark btn-position update" (click)="updateData()">Update</button>
            <button class="btn btn-dark btn-position update" (click)="close()">Cancel</button>
        </div>
    </div>
  </div>

<div class="col-sm-12 lineChart">
  <div class="statbox">
    <div class="col-sm-12 row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col"></th>
            <th class="tableCol" scope="col">Name</th>
            <th class="tableCol" scope="col">Status</th>
            <th class="tableCol" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of partnerData ; index as i">
            <td scope="row">{{i+1}}.</td>
            <td><img class="tableImage" src={{data.image}}></td>
            <td>{{data.name}}</td>
            <td>{{data.status}}</td>
            <td><button class="editbtn" (click)="editData(data.id,data.name,data.status,data.image)">Edit</button><button class="deletebtn" (click)="deleteData(data.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="collectionSize" (pageChange)="loadPage($event)">
        </ngb-pagination>
    </div>
</div>