.labelHead{
  font-size: 17px !important;
  margin-left: 70px;
}
.selectionHead{
  margin-left: 5%;
  margin-top: -2px;
}
.btn{
  padding: 13px;
  border: 1px solid #FFD96A;
  color: #FFD96A !important;
  line-height: 5px;
  font-size: 15.5px;
  &:hover{
      border: 1px solid #FFD96A !important;
      border-color: #FFD96A !important;
  }
}
.select_role{
  margin-top: 30px;
  margin-left: 70px;
  cursor: pointer;
}
.select_role_input{
  margin-top: 30px;
  cursor: pointer;
}
.select_role_perm{
  margin-left: 70px;
  cursor: pointer;
}
.menu_perm{
  margin-top: -30px;
  font-size: 19px;
  color: #FFFFFF;
  margin-left: 20px;
  font-weight: 400;
  opacity: 0.8;
}
.perm_heading{
  margin-top: 20px;
}
.input {
  background: none;
  border: 1px solid #FFD96A;
  margin-top: -8px;
}
.checkType{
  margin-bottom: 8px;
}
.preRoles{
  margin-top:15px;
}
.tableCol{
  width: 150px;
}
.table{
  color: #fff !important;
  th{
    color: #FFD96A !important;
    font-size: 16px !important;
  }
}